@{
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}
@{
    ViewBag.Title = "Single Page Application (SPA) Demo";
}
@Html.AntiForgeryToken()

@section CssImport {
    <link href="~/js/toastr/toastr.min.css" rel="stylesheet" />
    <style type="text/css">

        #demoContent {
            height: 490px;
            margin: 5px 0px;
            overflow: visible;
        }

        .customerTableWrap {
            height: 550px;
            width: 100%;
        }

        .orderDetailTableWrap {
            max-height: 180px;
            width: 100%;
        }

        .custInfo {
        }

        .custEdit {
        }

        .listbox-edit select {
            width: 75%;
        }

        .qtyEdit > input[type="text"] {
            min-width: 20px;
            width: 45px;
        }

        form.customerInfo {
            padding: 15px;
            width: 100%;
        }


        div.ria-dataform .addressLine {
            margin-bottom: 2px;
            margin-top: 2px;
        }

        div.ria-dataform .addressLabel {
            color: Blue;
            display: inline-block;
            width: 9em;
        }

        div.ria-dataform .address {
        }

        .autocompleteTableWrap {
            margin: 0px;
            max-height: 220px;
            padding: 0px;
            width: 100%;
        }

        .autocompleteSalePTableWrap {
            height: 130px;
            width: 100%;
        }

        .autocompleteTableHeader {
            display: none;
        }

        table.ria-data-table tr:nth-child(even) {
            background-color: #ECF2F6;
        }

        .addressTableWrap {
            height: 120px;
            width: 100%;
        }

        .addressTableHeader {
        }

        .findAddrTableWrap {
            height: 280px;
            width: 100%;
        }

        form[data-name="newAddress"] dd {
            margin-bottom: 0;
        }
    </style>
}

@section JSStaticImport {
    <script src="~/js/toastr/toastr.min.js"></script>
}

@section JSDynamicImport {
    <environment include="Development">
        <script src="~/js/demo/spaDemo/main.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/demo/spaDemo/main.min.js"></script>
    </environment>

    <script type="text/javascript">
    require(["main", "jriapp_ui", "jriapp_ru"],
        function(DEMO, UI, LANG) {
            $("#loading").fadeIn();

            var mainOptions = {};
            mainOptions.service_url = '@Url.RouteUrl("Default", new {controller = "RIAppDemoServiceEF", action = ""})';
            mainOptions.permissionInfo = @await Component.InvokeAsync("Permissions");
            mainOptions.spa_template1_url = '@Url.Action("SPADemoTemplate1", "Templates")';
            mainOptions.spa_template2_url = '@Url.Action("SPADemoTemplate2", "Templates")';
            mainOptions.spa_template3_url = '@Url.Action("SPADemoTemplate3", "Templates")';

            DEMO.start(mainOptions).then(function () {
                $("#demoContent").animate({ opacity: 1 }, 1000);
                $("#loading").fadeOut(1000);
            }, function (err) {
                $("#loading").fadeOut(1000);
            });
        });
    </script>
}


<h2 class="ex8 mb-3">@ViewBag.Title</h2>

<span>it uses <span class="text-info">dynacontent</span> to switch views (templates)</span>
<div id="demoContent" class="container-fluid px-0" style="opacity:0;" data-bind="this.isBusy,to=dbContext.isBusy" data-view="busy">
    <div id="demoDynaContent" data-bind-1="this.templateID,to=viewName,source=customerVM.uiMainRoute"
         data-bind-2="this.dataContext,source=customerVM"
         data-bind-3="this.animation,to=animation,source=customerVM.uiMainRoute" data-view="dynacontent"></div>
</div>

@await Html.PartialAsync("_WaitLoad")

<script id="fieldcss" type="text/x-options">
    readCss:'custInfo',elEditCss:'form-control form-control-sm d-inline-block'
</script>
